body {
    background: radial-gradient(circle, rgba(34,193,195,1) 30%, rgba(253,187,45,1) 100%);
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    padding: 3%;

}

head {
    text-align: center;
}

ul, ol {
    list-style-position: inside;
}

section {
    width: 80%;
    padding: 5%;
    margin: 2% auto;
    border: 1px black solid;
    font-size: 20px;
    background-color: #F5F6F7;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    display:grid;

}

img {
    display: block;
    margin: 1% auto;
    max-width: 80%;
}

p {
    line-height: 2em;
    text-align: center;
}

code {
    text-align: center;
    background-color: lightgray;
    font-size: 18px;
}

video {
    display: block;
    margin: 0 auto;
    width: 70%;
    object-fit: contain;
}

.CodeWidget ol div {
    float: left;
    padding: 3px;
}

.CodeWidget {
    width: fit-content;
    height: fit-content;
    font-family:"Consolas", 'Courier New', Courier, monospace ;
    font-size: 16px;
    text-align: left;
    display:grid;
    justify-content: center;
    margin: 0% auto; 
}

.CodeWidget ol{
    border: 1px solid black;
    width: auto;
    list-style-position: inherit;
}

.CodeWidget li{
    border-left: 1px solid black;
    padding: 5px;
}

.Keyword {
    color:cornflowerblue;
}

.Name {
    color:rgb(227, 97, 97);
}

.Annotation {
    color: rgb(228, 188, 57);
}

.Tab {
    width: 35px;
}

.Method {
    margin-left:-7px;
}

#TOCSection {
    width: 25%;
    margin: 0% auto;
}

#TOCList {
    text-align: left;
    border: 1px solid black;
}